<%= render "header"%>

<main class="main">
    <div class="task_main task_main_left">
        <div class=task_explanation>
            <p>1,家族タスク作成をクリック</p>
        </div>
    </div>
    <div class="task_main task_main_liget">

    </div>
</main>