<%= render "header"%>


<div class="task_new">
    <h1 class="task_create_title">家族タスク作成</h1>
<div>

<%# <div class="form_task_new">
    <form action="#" method="post">
        <dl>
            <label>
                <dt>タイトル</dt>
                <dd>
                    <input type="text" name="yourname" size="40">
                </dd>
            </label>
            <label>
                <dt>依頼者</dt>
                <dd>
                    <select class="task_request" name="sushi">
                    <option value="magro">妻</option>
                    <option value="ika">息子</option>
                    <option value="ebi">娘</option>
                    </select>
                </dd>
            </label>
            <label>
                <dt><span>期限</span></dt>
                <dd>
                    <label><span>日付</span><input type="date"></label>
                    <label><span>時間</span><input type="time" name="example1"></label>
                </dd>
            </label>
            <label>
                <dt><span>詳細</span></dt>
                <dd>
                    <textarea name="kansou" rows="4" cols="40"></textarea>
                </dd>
            </label>
        </dl>
        <button type="submit">登録</button>
    </form>
<div>
 %>



<form action="#" method="post" class="form">
  <div class="form_children">
    <dl>
        <dt><span>タイトル</span></dt>
        <dd>
        <input type="text" name="yourname" style=" width: 500px; height: 30px;">
        </dd>
        <dt><span>依頼者</span></dt>
        <dd>
            <select class="task_request" name="sushi">
            <option value="magro">妻</option>
            <option value="ika">息子</option>
            <option value="ebi">娘</option>
        </select>
        </dd>
        <dt>期限</dt>
        <dd>
        <label><span class="task_day">日付</span><input type="date"></label>
        <label><span class="task_time">時間</span><input type="time" name="example1"></label>
        </dd>
        <dt>詳細</dt>
        <dd>
        <textarea name="kansou" rows="4" style=" width: 500px; height: 100px;"></textarea>
        </dd>
    </dl>
  </div>
  <div class="form_button">
        <button type="submit">送信</button>
  </div>
</form>



