<%= render "header"%>


<div class="task_new">
    <h1 class="task_create_main_title">家族タスク作成</h1>
<div>

<form action="#" method="post" class="form task_create_form">
  <div class="form_children task_create_form_children">
    <dl class="form_task_list">
        <dt class="form_task_term_title"><span class="task_title task_create_title">タイトル</span></dt>
            <dd class="task_create_title_area">
            <input type="text" name="yourname" style=" width: 500px; height: 30px;">
            </dd>
        <dt class="form_task_term_request"><span class="task_request task_create_request">依頼者</span></dt>
            <dd class="task_create_request_persons_area">
                <select class="task_request_person task_create_request_person" name="sushi">
                    <option value="wife">妻</option>
                    <option value="son">息子</option>
                    <option value="daughter">娘</option>
                </select>
            </dd>
        <dt class="task_deadline task_create_deadline">期限</dt>
            <dd class="task_create_day_time_area">
            <label><span class="task_day task_create_day">日付</span><input type="date"></label>
            <label><span class="task_time task_create_time">時間</span><input type="time" name="example1"></label>
            </dd>
        <dt class="task_details task_create_details">詳細</dt>
            <dd class="task_create_details_area">
                <textarea name="details" rows="4" style=" width: 500px; height: 100px;"></textarea>
            </dd>
    </dl>
  </div>
        <div class="form_button task_create_form_button">
            <button type="submit" class="task_create_submit_button">送信</button>
        </div>
</form>



