.app_title{
    color: white;
    font-size: 3.2em;
    line-height: 500px;
    margin-left: 70px;
    text-shadow: 1px 1px 2px black;
    font-family: 'Salsa', cursive;
    letter-spacing: 3px;
}


.login_page{
    height: 100vh;
    display: flex;
}

.login_message_title_promisu{
    text-shadow: 1px 2px 1px rgba(0,0,0,0.3);
}

.login_image{
    background-image:url(1226749_m.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    flex: 1;
}

.login_form{
    width: 400px;
    text-align: center;
    padding: 30px;
}

.login_form_item{
    padding-top: 50px;
}

.login_form_item_title{
    font-size: 1.7em;
}

.login_message_title_promisu{
    color: red;
}

input[type="email"],
input[type="password"],
input[type="submit"]{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #000000;
}

.login_email,.login_password{
    font-size: 0.8em;
}

.field{
    margin-top: 30px;
}

.login_button{
    margin-top: 50px;
}

.login_button input{
    background-color: #C4EAFA;
    font-size: 0.8em;
}
/* sign_up */

.sign_up{
    color: rgb(43, 103, 231);
}

.sign_up_messege{
    margin: 20px;
}