
/* トップページ header*/

.task_header{
    background-color: #C4EAFA;
    padding: 0 20px;
    height: 100px;
    width: 100%;
    box-shadow: 2px 2px 4px gray;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
 }
 
 .task_header p{
     text-align: end;
 }
 
 .header_title{
    font-family: 'Salsa', cursive;
    font-size: 2em;
    margin: 0;
 }
 
 .header_title a{
     color: black;
     position: relative;
 }
 
 .header_title a::before{
     content: '';
     position: absolute;
     bottom: -3px;
     left: 0;
     display: block;
     width: 0;
     height: 3px;
     background-color: #000000;
     transition: width 0.4s;
   }
 
 .header_title a:hover::before {
     width: 100%;
 }
 
 
 /* body */
 main{
     height: 100vh;
     width: 100%;
 }
 
 .task_main{
     position:absolute;
     width:50%;
     height:100%;
 }
 
 .task_main_left{
     left:0;
     /* background-color: azure; */
 }
 
 .task_main_liget{
     right:0;
     overflow-y:scroll;
     /* background-color: red; */
 }
 
 .task_explanation{
     padding-top: 100px;
 }


